html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    
}

header {
    font-size: 48px;
    text-align: center;
    background-color: lightgray;
    padding: 25px 0;
    
    button {
        margin-top: 20px;
        width: 150px;
        height: 60px;
        border: none;
        border-radius: 16px;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
        font-size: 16px;
        padding: .4em .8em;
        cursor: pointer;
        font-family: 'Readex Pro' sans-serif;
    }
    button:hover {
        
    }
    #add-button {
        background-color: #24a0ed;
    }
    #add-button:hover {
        background-color: #237bb1;
    }
    #remove-button {
        background-color: #d11a2a;
    }
    #remove-button:hover {
        background-color: #961822;
    }
}

main {
    background-color: black;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 10px 15px;
    grid-auto-rows: 150px;
    
}

.card {
    padding: 2px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    
    
}
#card-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}