html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    
}

header {
    font-size: 48px;
    text-align: center;
    background-color: lightgray;
    padding: 25px 0;
    
    button {
        margin-top: 20px;
        width: 150px;
        height: 60px;
        border: none;
        border-radius: 16px;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
        font-size: 16px;
        padding: .4em .8em;
        cursor: pointer;
        font-family: 'Readex Pro' sans-serif;
    }
    button:hover {
        
    }
    #add-button {
        background-color: #24a0ed;
    }
    #add-button:hover {
        background-color: #237bb1;
        color: lightgray;
    }
    #remove-button {
        background-color: #d11a2a;
    }
    #remove-button:hover {
        background-color: #961822;
    }
}

#add-modal {
    width: 30%;
    height: 400px;
    font-size: 22px;
    justify-content: left;
    border: none;
    border-radius: 8px;
    position: relative;
    
    
    input {
        margin-bottom: 5px;
        height: 28px;
        border-radius: 10px;
        border: .5px solid black;
        padding-left: 10px;
    }
    label {
        margin-left: 0;
        margin-right: 5px;
        padding: 0;
    }
    #close-button {
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        margin: 0;
        font-size: 24px;
        padding: 0;
        text-align: center;
        background-color: darkgray;
    }
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #add-button-modal {
        background-color: #24a0ed;
        margin-top: 30px;
    }
    #add-button-modal:hover {
        background-color: #237bb1;
        color: lightgray;
    }
    
}


main {
    background-color: black;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
    padding: 10px 15px;
    grid-auto-rows: 150px;
    
}

.card {
    padding: 2px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    
    
}
#card-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}